.top-bar {
  border: 2px solid;
  border-radius: 13px;
  background-color: tomato;
  margin: 10px;
  text-align: center;
  filter: drop-shadow(10px 10px 10px gray);
}

.blank-div {
  margin-left: 15px;
  width: 20%;
  float: left;
}

.center-h1-div {
  margin: auto;
  width: 50%;
  display: inline-block;
}

.new-album-form-div {
  margin-right: 15px;
  width: 20%;
  float: right;
}

div.left-menu {
  float: left;
  width: 275px;

  text-align: center;

  border: 2px solid;
  border-radius: 13px;
  background-color: darkcyan;

  margin-left: 5px;

  height: 77vh;
  overflow: scroll;

  filter: drop-shadow(10px 10px 10px gray);
}

.content-div {
  width: 100%;
}

div.album-div {
  background-color: lightsteelblue;
  border: 2px solid;
  border-style: solid;
  /* height: 300px; */
  border-radius: 11px;
  margin: 10px;
  padding: 5px;
}

.internal-album-div {
  cursor: pointer;
}

.borderlist {
  list-style-position:inside;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  background-color: tomato;
}

.form-group {
  margin: 0 auto;
  width: 200px;
}

div.notes-div {
  float: left;
  border: 2px;
  border-style: solid;
  border-radius: 13px;
  margin-left: 2vh;
  padding: 10px;
  background-color: lightsteelblue;

  height: 77vh;

  width: 60%;
  right: 35px;
  filter: drop-shadow(10px 10px 10px gray);
}

img.album-art {
  display: inline-block;
  height: 150px;
  margin-bottom: 5px;
}

body {
   background-color: linen;
   font-family: 'Open Sans', sans-serif;
 }

div.error {
 display: none;
 background-color: red;
 position: relative;
 float: left;
}

.alert {
  padding: 20px;
  background-color: red;
  color: white;
  position: absolute;
  top: 55%;
  margin-top: -3em;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
