.top-bar {
  border: 2px solid;
  border-radius: 13px;
  background-color: tomato;
  margin: 5px;
  text-align: center;

}

div.left-menu {
  float: left;
  width: 275px;

  /* position: absolute;
  left: 5px;
  width: 25%; */

  text-align: center;

  border: 2px solid;
  border-radius: 13px;
  background-color: darkcyan;

  margin-left: 5px;

  height: 80vh;
  overflow: scroll;
}

.content-div {
  width: 100%;
}

div.album-div {
  background-color: lightsteelblue;
  border: 2px solid;
  border-style: solid;
  /* height: 300px; */
  border-radius: 11px;
  margin: 10px;
  padding: 5px;

}

.borderlist {
    list-style-position:inside;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    background-color: tomato;
}

.form-group {
  margin: 0 auto;
  width: 200px;
}

div.notes-div {
  float: left;
  border-style: solid;
  border-radius: 13px;
  margin-left: 30px;
  padding: 10px;
  background-color: lightsteelblue;

  height: 80vh;

  width: 60%;
  right: 35px;
}

img.album-art {
  display: inline-block;
  height: 150px;
  margin-bottom: 5px;
}

body {
   background-color: linen;
   font-family: 'Open Sans', sans-serif;
 }

div.error {
 display: none;
 background-color: red;
}

.alert {
  padding: 20px;
  background-color: red;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
